openapi: 3.1.0
info:
  title: Capella Space API
  description: |
    Capella Space provides on-demand synthetic aperture radar (SAR) imagery
    through a self-service Console and public API. This specification
    consolidates publicly documented endpoints from the Capella Space
    documentation (https://docs.capellaspace.com/) for tasking, repeat
    tasking, orders, downloads, and API keys.

    All requests authenticate with a bearer token obtained from the Capella
    Console; long-lived API keys are managed via the /keys endpoint.

    Best-effort hand-authored spec. Request and response payloads use
    permissive schemas where the public docs do not enumerate the full
    property set; consult the Capella documentation for production
    integrations.
  version: "1.0.0"
  contact:
    name: Capella Space Support
    url: https://support.capellaspace.com/
servers:
  - url: https://api.capellaspace.com
security:
  - bearerAuth: []
tags:
  - name: Tasking
  - name: RepeatRequests
  - name: Orders
  - name: Tiles
  - name: Collects
  - name: Keys
paths:
  /task:
    post:
      tags: [Tasking]
      summary: Submit a tasking request
      description: |
        Submit a new tasking request against the Capella SAR constellation.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskingRequest' }
      responses:
        '201':
          description: Tasking request accepted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskingRequest' }
  /task/{taskingrequestId}:
    parameters:
      - { $ref: '#/components/parameters/TaskingRequestId' }
    get:
      tags: [Tasking]
      summary: Get a tasking request
      responses:
        '200':
          description: Tasking request details.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskingRequest' }
  /task/{taskingrequestId}/status:
    parameters:
      - { $ref: '#/components/parameters/TaskingRequestId' }
    get:
      tags: [Tasking]
      summary: Get tasking request status
      responses:
        '200':
          description: Status object.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StatusObject' }
    post:
      tags: [Tasking]
      summary: Update tasking request status (review/approve/cancel)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StatusUpdate' }
      responses:
        '200':
          description: Updated status.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StatusObject' }
  /tasks/search:
    post:
      tags: [Tasking]
      summary: Search tasking requests
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchQuery' }
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/TaskingRequest' }
  /repeat-requests:
    post:
      tags: [RepeatRequests]
      summary: Submit a repeat tasking request
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RepeatRequest' }
      responses:
        '201':
          description: Repeat request accepted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepeatRequest' }
  /repeat-requests/{repeatrequestId}:
    parameters:
      - { $ref: '#/components/parameters/RepeatRequestId' }
    get:
      tags: [RepeatRequests]
      summary: Get a repeat tasking request
      responses:
        '200':
          description: Repeat request details.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepeatRequest' }
  /repeat-requests/{repeatrequestId}/status:
    parameters:
      - { $ref: '#/components/parameters/RepeatRequestId' }
    get:
      tags: [RepeatRequests]
      summary: Get repeat request status
      responses:
        '200':
          description: Status object.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StatusObject' }
    post:
      tags: [RepeatRequests]
      summary: Update repeat request status (review/approve/cancel)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StatusUpdate' }
      responses:
        '200':
          description: Updated status.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StatusObject' }
  /repeat-requests/search:
    post:
      tags: [RepeatRequests]
      summary: Search repeat tasking requests
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchQuery' }
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/RepeatRequest' }
  /tiles/list/{taskingrequestId}:
    parameters:
      - { $ref: '#/components/parameters/TaskingRequestId' }
    get:
      tags: [Tiles]
      summary: List tiles for a tasking request
      responses:
        '200':
          description: Tile list.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
  /collects/list/{taskingrequestId}:
    parameters:
      - { $ref: '#/components/parameters/TaskingRequestId' }
    get:
      tags: [Collects]
      summary: List collects for a tasking request
      responses:
        '200':
          description: Collect list.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
  /orders:
    post:
      tags: [Orders]
      summary: Submit an order
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderRequest' }
      responses:
        '201':
          description: Order accepted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
  /orders/review:
    post:
      tags: [Orders]
      summary: Review an order before submission
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderRequest' }
      responses:
        '200':
          description: Review summary including pricing.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /orders/{orderId}/download:
    parameters:
      - in: path
        name: orderId
        required: true
        schema: { type: string }
    get:
      tags: [Orders]
      summary: Get download URLs for a completed order
      responses:
        '200':
          description: Signed download URLs.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
  /keys:
    post:
      tags: [Keys]
      summary: Request an API key
      responses:
        '201':
          description: API key created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey: { type: string }
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Bearer token issued via the Capella Console. API keys can be
        requested at POST /keys and exchanged for bearer tokens per the
        documented authentication flow.
  parameters:
    TaskingRequestId:
      in: path
      name: taskingrequestId
      required: true
      schema: { type: string }
    RepeatRequestId:
      in: path
      name: repeatrequestId
      required: true
      schema: { type: string }
  schemas:
    GeoJSON:
      type: object
      description: GeoJSON Geometry object.
      additionalProperties: true
    CollectionProperties:
      type: object
      properties:
        collectionTier:
          type: string
          enum: [urgent, priority, standard, flexible]
        productCategory: { type: string }
        windowOpen: { type: string, format: date-time }
        windowClose: { type: string, format: date-time }
        offNadirMin: { type: number }
        offNadirMax: { type: number }
        lookDirection:
          type: string
          enum: [left, right, either]
        polarization:
          type: string
          enum: [HH, VV, HV, VH]
      additionalProperties: true
    TaskingRequest:
      type: object
      properties:
        taskingrequestId: { type: string }
        type: { type: string, default: Feature }
        geometry: { $ref: '#/components/schemas/GeoJSON' }
        properties: { $ref: '#/components/schemas/CollectionProperties' }
      additionalProperties: true
    RepeatRequest:
      type: object
      properties:
        repeatrequestId: { type: string }
        type: { type: string, default: Feature }
        geometry: { $ref: '#/components/schemas/GeoJSON' }
        properties:
          allOf:
            - { $ref: '#/components/schemas/CollectionProperties' }
            - type: object
              properties:
                repetitionProperties:
                  type: object
                  properties:
                    repeatStart: { type: string, format: date-time }
                    repeatEnd: { type: string, format: date-time }
                    repetitionInterval: { type: integer }
                    repetitionCount: { type: integer }
      additionalProperties: true
    StatusObject:
      type: object
      properties:
        status: { type: string }
        statusHistory:
          type: array
          items: { type: object, additionalProperties: true }
      additionalProperties: true
    StatusUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [review, accepted, rejected, cancelled, completed]
        comments: { type: string }
      additionalProperties: true
    SearchQuery:
      type: object
      properties:
        bbox:
          type: array
          items: { type: number }
        datetime: { type: string }
        limit: { type: integer }
        sortby: { type: string }
      additionalProperties: true
    OrderRequest:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              granuleId: { type: string }
              collectionId: { type: string }
            additionalProperties: true
      additionalProperties: true
    Order:
      type: object
      properties:
        orderId: { type: string }
        orderStatus: { type: string }
        userId: { type: string }
      additionalProperties: true
